/*BASIS*/
:root 
{
  --primary: #50473d;
  --accent: #211e1e;
  --bg: #211e1e;
  --text: #ffffff;
  --max-width: 1100px;
  --gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/*
softer colors
complemantary colors
Dark theme
darker background, light text

*/

* 
{
  box-sizing: border-box;
}

body 
{
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/*HEADER*/
header 
{
  background-color: var(--primary);
  color: white;
}

.header-inner 
{
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo 
{
  font-weight: bold;
  font-size: 1.2rem;
}

/*NAV*/
nav ul 
{
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a 
{
  color: rgb(48, 41, 28);
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover 
{
  background-color: rgba(124, 31, 31, 0.2);
}

nav a.active 
{
  background-color: var(--accent);
  color: var(--primary);
}

/*MAIN*/
main 
{
  max-width: var(--max-width);
  margin: 1rem auto;
  padding: 1rem;
}

/*GRID INDEX*/
.grid 
{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--gap);
}

@media (max-width: 900px) 
{
  .grid 
  {
    grid-template-columns: 1fr;
  }
}

/*FLEXBOX PRODUCTS*/
.products
{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product 
{
  flex: 1 1 calc(25% - 1rem);
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img 
{
  width: 100%;
  border-radius: 8px;
}

.product h3 
{
  color: var(--primary);
  margin-top: 0.5rem;
}

.product p 
{
  margin: 0.25rem 0;
}

/*Responsief*/
@media (max-width: 1000px) 
{
  .product 
  {
    flex: 1 1 calc(33.33% - 1rem);
  }
}

@media (max-width: 700px) 
{
  .product 
  {
    flex: 1 1 calc(50% - 1rem);
  }
}

/*FORMULIER*/
form 
{
  display: grid;
  gap: 0.75rem;
}

input,
select,
textarea 
{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button 
{
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover 
{
  background-color: #2e2b2b;
}

/*CHATKNOP*/
.chat 
{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: var(--primary);
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*TABEL*/
table 
{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td 
{
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th 
{
  background-color: var(--accent);
  color: var(--primary);
}

/*FOOTER*/
footer 
{
  background-color: #f5f2ef;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
